/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Kdam+Thmor+Pro&family=Oswald:wght@300&family=Playpen+Sans:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
    text-decoration: none;
}
:root{
    --text-1:#fff;
    --span-1:red;
    --span-1-t:rgba(0, 0, 0, 0.5);
}
section {
    height: 100vh;
}
section{
    background-color: red;
}

.navigation a h3{
    color: var(--text-1);
    margin: 0px;
    font-size: 1,5rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.nav-link a{
    color: var(--text-1);
    font-size:1.2rem ;
    font-family: 'Oswald', sans-serif;
}
.nav-link a span{
    color: var(--span-1);
    font-family: 'Oswald', sans-serif;
}
.nav-link a:hover{
    text-decoration: none;
}
.navigation i {
    font-size: 1.5rem;
    color: var(--span-1);
    cursor: pointer;
}

/* responsive style  */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
    section{
        background-color: green;
    }
    .navigation {
        position: relative;
    }
    .nav-link {
        position: absolute;
        top:8vh;
        right: 0;
        list-style: none;
        width: 40%;
        border: 1px solid var(--span-1);
        background-color: var(--span-1-t);
        border-radius: 1rem;
    }
    .nav-link a li{
        margin: 1rem 2rem;
        padding: .5rem 1rem;
    }
    .nav-link a li:hover{
        border: 2px solid red;
        background-color:hsla(0, 0%, 0%, 0.400) ;
        border-radius: 10%;
    }
    
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-link {
        list-style: none;
        padding: 1rem;
        justify-content: space-around;
        width: 50%;
    }
    
}