*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
    text-decoration: none;
}
:root{
    --text-1: #ffffff :
}
.navigation a h3{
    color: var(--text-1);
    margin: 0px;
}